* {
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (display-mode: standalone) {
  body > #toolbar {
    padding-bottom: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom, 5px) env(safe-area-inset-left) !important;
  }
}
